<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main style="font-family: fantasy;">
        <v-container>
          <div style="text-align: center;">
            <img src="./logo.png" style="width: 60%;"/>  
          </div>

          <h1 class="text-center">Welcome to the <br/> mystery game!! !</h1>

          <h2 class="mt-6">Rules</h2>
          <ul>
            <li>Everyone got a secret word they should not say</li>
            <li>You can see everyone's word except yours</li>
            <li>When you say your word, you are out</li>
            <li>French or English are allowed</li>
            <li>The last one standing wins</li>
          </ul>

          <div v-if="!nameSelected" class="mt-6">
            <h2 class="mt-6">Who are you ?</h2>
            <v-select :items="Object.keys(words)" label="Select your name in the list" v-model="name"></v-select>
            <v-btn color="primary" @click="() => {nameSelected = true}" :disabled="!name">Yep that's me</v-btn>
          </div>

          <div v-else class="mt-6">
            <h2>Hi {{name}} !</h2>
            <p>Here are the other people's names : </p>
            <ul style="font-family: monospace">
              <li v-for="(world, wordName) in words" v-if="name != wordName" :style="{textDecoration: isAlive[wordName] ? 'none' : 'line-through'}"
              >{{wordName}}: {{world}}</li>
            </ul>
          </div>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      data: () => ({
        name: '',
        nameSelected: false,
        words: {
'Achraf': 'Walkie Talkie',
          'Ivan': 'Belgian Beer',
          'Lina': 'Diamonds',
          'Abir': 'Thank You',
          'Hans': 'Luxury',
          'Becky': 'Mushroom',
          'Opal': 'Pearls',
          'Talia': 'Tequilla Sunrise',
          'Tonmoy': 'Cappuccino',
          'Upoma': 'Strawberries',
          'Rita': 'Candles',
        },
        isAlive: {
          'Achraf': true,
          'Ivan': true,
          'Lina': true,
          'Abir': true,
          'Hans': true,
          'Becky': true,
          'Opal': true,
          'Talia': true,
          'Tonmoy': true,
          'Upoma': true,
          'Rita': true,

        }
      }),
    })
  </script>
</body>

</html>
